* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(to right, grey, silver);
  width: 100%;
  height: 100vh;
}

.glass {
  width: 10vw;
  height: 16vh;
  background-color: rgba(25, 23, 23, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  font-size: 5vh;
  display: inline-block;
  animation: broken 10s linear infinite alternate;
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes broken {
  0% {
    transform: translateY(0px) scaleY(0) rotate(20deg) translateX(0px);
  }
  40% {
    transform: translateY(100px) scaleY(-1) rotate(30deg) translateX(30px);
  }

  60% {
    transform: translateY(200px) scaleY(0) rotate(40deg) translateX(10px);
  }

  80% {
    transform: translateY(300px) scaleY(-1) rotate(30deg) translateX(-20px);
  }

  100% {
    transform: translateY(400px) scaleY(0) rotate(20deg) translateX(0px);
  }
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.freedom {
  position: absolute;
  top: 20%;
  font-size: 10vw;
  color: white;
}

.find {
  position: absolute;
  top: 45%;
  font-size: 3vh;
  color: rgb(213, 205, 205);
}
span {
  font-size: 100px;
}

.dot1 {
  color: rgb(94, 86, 86);
  animation: move 0.5s linear infinite alternate;
}

.dot2 {
  color: white;
  animation: move 0.6s linear infinite 0.5s alternate;
}

.dot3 {
  color: white;
  animation: move 0.7s linear infinite 1s alternate;
}

.dot4 {
  color: rgb(94, 86, 86);
  animation: move 0.8s linear infinite 1.5s alternate;
}

@keyframes move {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
